<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Profile Tab -->
    <ion-tab title="Perfil" icon-off="ion-ios-person-outline" icon-on="ion-person" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Now Tab -->
    <ion-tab title="Agora" icon-off="ion-ios-stopwatch-outline" icon-on="ion-ios-stopwatch" href="#/tab/chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

    <!-- Time Line Tab -->
    <ion-tab title="Linha do Tempo" icon-off="ion-ios-settings" icon-on="ion-ios-settings-strong" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
